.CounterButton {
  background-color: lightslategray;
  font-size: 16px;
  padding: 15px 30px;
  color: white;
  width: 100px
}

.count {
  font-size: 150px;
  padding: 15px 30px;
}

.reset {
  background-color: lightcoral;
  font-size: 16px;
  padding: 15px 30px;
  color: white;
  width: 200px
}